<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng ký</title>
</head>
<body>
  <form name = "register_form" onsubmit="registerForm()" method="post">
    <label for="username">Username:</label><br>
    <input type="text" id="uname" name="name"><br>
    <label for="email">Email:</label><br>
    <input type="text" id="uemail" name="email"><br>
    <label for="pass">Password:</label><br>
    <input type="password" id="upass" name="pass"><br><br>
    <input type="submit" value="Submit">
  </form> 
    <script src="/js/js_login.js" type="text/javascript"></script>
</body>
</html>
